*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
    background-color: #040319;
    position: sticky;
    top: 0;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    position: absolute;
    left: 100px;
    color: #FFFFFF;
    font-size: 38px;
    font-family: "Urbanist", sans-serif;
}
header img{
    position: absolute;
    left: 45px;
}
section{
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    padding: 40px;
    background-color: rgb(226, 222, 216);
}
.nice{
    position: absolute;
    right: 50px;
    border: none;
    height: 50px;
    width: 120px;
    border-radius: 20px;
    background-color: #dcfd35;
    color: black;
    font-family: "Urbanist", sans-serif;
    font-size: 22px;
    font-weight: 400;
}
section > div{
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.2s ease;
    cursor: pointer;
}
section> div:hover{
    transform: translateY(-15px);
}
section div img{
    border-radius: 12px;
    outline:  2px solid #dcfd35;
    height: 150px;
    width: 200px;
}

section div h3{
    font-family: "Urbanist";
    background-color: #dcfd35;
    color: black;
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    font-weight: 400;
}

section div a{
    text-decoration: none;
    height: 25px;
    width: 70px;
    border-radius: 20px;
    background-color: #dcfd35;
    color: black;
    font-family: "Urbanist", sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 6px;
}